body{
    overflow: scroll;
    min-height: 100%;
}

p{
	margin: 0;
}
.container{
    padding-top: 15px;
    height: 100%;
    text-align: center;
}

#villageBuilding,
#cityBuilding{
    font-size: 17px;
}

#villageBuilding img,
#cityBuilding img{
    height: auto;
    width: 80%;
}

#villageBuilding img{
    padding-top : 27%;
}

#rankTable {
	display: inline-block;
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
}


#rank th{
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 2px 20px;
}

#rank td{
	border-top: 1px #eee solid; 
	width: 35%;
	text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 2px 20px;
}

#rank .num{
    font-weight: 600;
    width: 29%;
}