<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>开疆拓土</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" media="screen" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS-->
    <link href="stylesheets/common.css" rel="stylesheet" />
</head>

<body style="overflow: hidden;">
    <nav id="nav" class="navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="title">
                <img class="logo" src="images/w_logo.png">
                <img class="w_logo" src="images/title.png">
            </div>
            <button type="button" class="navbar-toggle nav-content navbar-right" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse nav-content" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="choosen">
                    <a href="#"><img src="images/map.png">地图</a>
                </li>
                <li>
                    <a href="userInfoDemo.html"><img src="images/brick.png">我的资源</a>
                </li>
                <li>
                    <a href="deal.html"><img src="images/deal.png">交易所</a>
                </li>
                <li>
                    <a href="rankDemo.html"><img src="images/medal.png">排行榜</a>
                </li>
                <li>
                    <a href="instruction.html"><img src="images/infor.png">说明</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://blog.nebulas.io/2018/04/12/creating-a-nas-wallet/"><img src="images/money.png">钱包插件</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="lucky-number">
        <div class="left active"><img src="images/left.png"></div>
        <ul>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number"></p>
            </li>
            <li>
                <p class="time"></p>
                <p class="number">
            </li>
        </ul>
        <div class="right"><img src="images/right.png"></div>
        <p>【系统】每10分钟开出一个幸运数字，幸运数字对应的地图顶角上的建筑可获得对应资源</p>
    </div>

    <div class="main">
        <canvas id="map" width="2000" height="1200">
         </canvas>
        <svg id="mapElement" xmlns="http://www.w3.org/2000/svg">
            <defs>
		      <linearGradient id="lightRoad" x1="0%" y1="0%" x2="100%" y2="0%">
		        <stop offset="0%" style="stop-color:rgb(67, 58, 20);stop-opacity:0" />
		        <stop offset="22%" style="stop-color:rgb(67, 58, 20);stop-opacity:0.2" />
		        <stop offset="78%" style="stop-color:rgb(67, 58, 20);stop-opacity:0.2" />
		        <stop offset="100%" style="stop-color:rgb(67, 58, 20);stop-opacity:0" />
		    </linearGradient>
		    <linearGradient id="darkRoad" x1="0%" y1="0%" x2="100%" y2="0%">
		        <stop offset="0%" style="stop-color:rgb(67, 58, 20);stop-opacity:0" />
		        <stop offset="22%" style="stop-color:rgb(67, 58, 20);stop-opacity:0.3" />
		        <stop offset="78%" style="stop-color:rgb(67, 58, 20);stop-opacity:0.3" />
		        <stop offset="100%" style="stop-color:rgb(67, 58, 20);stop-opacity:0" />
		    </linearGradient>
		    <linearGradient id="newRoad" x1="0%" y1="0%" x2="100%" y2="0%">
		        <stop offset="0%" style="stop-color:rgb(188, 176, 134);stop-opacity:0" />
		        <stop offset="22%" style="stop-color:rgb(188, 176, 134);stop-opacity:0.6" />
		        <stop offset="78%" style="stop-color:rgb(188, 176, 134);stop-opacity:0.6" />
		        <stop offset="100%" style="stop-color:rgb(188, 176, 134);stop-opacity:0" />
		    </linearGradient>
		  </defs>
         </svg>
        <div class="map-control">
            <a href="#" class="zoom-in" id="in">+</a>
            <a href="#" class="zoom-out" id="out">-</a>
        </div>
    </div>

    <div class="modal fade" id="structCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">建造</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">&nbsp;确定&nbsp;</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">&nbsp;关闭&nbsp;</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <div class="modal fade" id="switchOp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">村庄操作</h4>
                </div>
                <div class="modal-body">
                    <div class='row'>
                        <div class='priceHint col-xs-3'>出售该村庄：</div>
                        <div class='col-xs-3'><input id="villagePrice" class='form-control' type='number' min='0' value='1'></div>
                        <div class='priceHint col-xs-2'>NAS</div>
                        <div class="col-xs-offset-1 col-xs-3"><a class="form-control btn btn-primary">确定售出</a></div>
                    </div>
                    <hr/>
                    <div class='row'>
                        <div class="col-xs-9">扩建为城市： 花费13单位粮食、6单位砖块、10单位矿石</div>
                        <div class="col-xs-3"><a class="form-control btn btn-primary">确定扩建</a></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">&nbsp;关闭&nbsp;</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <div id="infor"></div>


    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/map.js"></script>

</body>

</html>